*{
    font-family: Georgia;
    text-align: center;
}
header, footer{
    background-color: #BA6B6C;
    color: white;
    padding: 7px;
    clear: both;
}
nav{
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
    float: left;
}
main{
    background-color: mistyrose;
    width: 60%;
    height: 500px;
    float: left;
}
#dane{
    background-color: mistyrose;
    padding: 50px;
}
ol{
    list-style: upper-roman;
}
li{
    text-align: left;
}
h2::first-letter{
    font-size: 170%;
    color: maroon;
}
table{
    margin: auto;
    width: 80%;
    border: maroon 1px solid;
}
img{
        width: 120px;
        margin: 7px;
        box-shadow: 7px 7px 7px dimgray;
}